.NewPost {}

.post-input {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.post-input>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-input>input {
    width: 80%;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    padding-left: 1rem;
}

.post-input>input:hover {
    outline: none;
}

.post-attachs {
    opacity: 0.8;
    padding-top: 0.5rem;
    border-top: 1px solid black;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-att {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.post-att:hover {
    background: rgb(250, 248, 248);
}

.post-attach {
    width: 40px !important;
    height: 40px !important;
    margin-right: 0.5rem;
}